nav.MainNav {
  float: right;
}
nav.MainNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.MainNav ul li {
  display: inline-block;
  padding-left: 2vw;
  font-size: 20pt;
  text-shadow: 2px 2px #000000;
}
nav.MainNav ul li a {
  transition: color 500ms ease;
}
nav.MainNav ul li a.active {
  color: #fff;
}

@media (max-width: 1024px) {
  nav.MainNav ul li {
    font-size: 18pt;
  }
}
@media (max-width: 600px) {
  nav.MainNav ul li {
    display: block;
  }
}