.App {
  text-align: left;
  color: #fff;
  background-color: #222;
}

.App-header {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(./assets/images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 40vh;
  transition: 1s ease-out;
}

.App-header-large {
  min-height: 80vh;
  background-position: right bottom;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  padding-left: 2vw;
  font-size: 20pt;
  text-shadow: 2px 2px #000000;
}

.App-header section {
  padding: 1vh 3vw;
}

.App-header section.App-header-main {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 8vh;
  display: flex;
}

.App-header section.App-header-main div {
  margin-right: auto;
}

.App-header section.App-header-main div p {
  font-size: 2vh;
  margin: 0;
  text-shadow: 2px 2px #000000;
}

.App-header section.App-header-main nav {
  display: flex;
  align-self: right;
  align-items: center;
  justify-content: center;
}

.App-header section h1 {
  font-size: 4vh;
  margin: 0;
  text-shadow: 2px 2px #000000;
}


.App-footer {
  background-color: #fff;
  text-align: center;
  padding: 2vh 2vw;
}

.App-footer ul {
  display: inline-block;
}

.App-footer ul li {
  display: inline-block;
  margin-right: 1vw;
}